@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */


#headline{
    font-family: 'Poppins', sans-serif;
}

.projects:hover{
    position: relative;
    top: 10px;
    left: 5px;
    transition: 1s;
    cursor: pointer;
}

